body,
html {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    color: #fafafa;
    font-family: 'Righteous', sans-serif;
    animation: fadein 1.5s;
}

/* This triggers a fadein of the website when the site loads */
@keyframes fadein {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

h1 {
    text-align: center;
}

h3 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    flex-direction: column;
    width: 80%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.container-form {
    background-color: darkslategray;
    box-sizing: border-box;
    flex-basis: 100%;
    width: 50%;
    height: 70vh;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    -moz-box-shadow: 0 0 10px #777777;
    -webkit-box-shadow: 0 0 10px #777777;
    box-shadow: 0 0 10px #777777;
    border-radius: 8px;
}

input {
    height: 30px;
    text-align: left;
    border-radius: 5px;
    border: none;
    width: 50%;
}

.form {
    height: 10%;
}

footer {
    margin-top: auto;
    background-color: #1c1d1d;
    color: #fff;
    height: 150px;
    width: 100vw;
    padding-top: 30px;
    text-align: center;
}